[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pip = "==18.0"
django-crispy-forms = "*"

[dev-packages]
ansible = "*"
pytest = "*"
selenium = "*"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true
