[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.1.1"
betamax = "==0.8.1"
selenium = "==3.141.0"
ipython = "==7.2.0"
black = "==18.9b0"

[packages]
django-crispy-forms = "==1.7.2"
django-heroku = "==0.3.1"
requests = "==2.21.0"
gunicorn = "==19.9.0"
Django = "==2.1.5"
Jinja2 = "==2.10"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
