{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "window/css/style.css" %}">
{% endblock head %}

{% block content %}
<h1 class="display-4">Bookstore Window</h1>
<p class="lead">Search for a book, any book.</p>

{% load crispy_forms_tags %}
{% crispy form %}

{% if books %}
{% for book in books %}
<div>
  <div class="row my-lg-5 book">

    <div class="col col-lg-2">
      <img src="{{ book.image }}" width="128">
    </div>

    <div class="col">
      <div class="row"><h3>{{ book.title }}</h3></div>
      <div class="row">{{ book.authors }}</div>
      {% include "window/more-info-snippet.html" with google_book_id=book.volumes.first.google_book_id %}

      {% if book.volumes.count > 1 %}
      {% include "window/other-editions-snippet.html" with volumes=book.volumes.all %}
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}


{% block javascript %}
<script src="{% static "window/js/main.js" %}"></script>
{% endblock javascript %}
