{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "window/css/style.css" %}">
{% endblock head %}

{% block content %}
<h1 class="display-4">Bookstore Window</h1>
<p class="lead">Search for a book, any book.</p>

{% load crispy_forms_tags %}
{% crispy form %}

{% if books %}
{% for book in books %}
<div>
  <div class="row py-3 book">

    <div class="col col-md-2 mr-n5 mr-sm-0">
      <img src="{{ book.image }}" width="128">
    </div>

    <div class="col">
      <div class="row">
        <h4>{{ book.title }}{% if book.subtitle %}:

        <small class="text-muted">{{ book.subtitle }}</small>
        {% endif %}
        </h4>
      </div>

      <div class="row">{{ book.authors }}</div>

      <div class="publisher row font-weight-light py-1">{{ book.publisher }}</div>

      {% include "window/more-info-snippet.html" with google_book_id=book.volumes.first.google_book_id %}

      {% if book.volumes.count > 1 %}
      {% include "window/other-editions-snippet.html" with volumes=book.volumes.all %}
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}


{% block javascript %}
<script src="{% static "window/js/main.js" %}"></script>
{% endblock javascript %}
